* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/***** Grid Set up *****/
.col-1 {width: 80px;}
.col-2 {width: 160px;}
.col-3 {width: 240px;}
.col-4 {width: 320px;}
.col-5 {width: 400px;}
.col-6 {width: 480px;}
.col-7 {width: 560px;}
.col-8 {width: 640px;}
.col-9 {width: 720px;}
.col-10 {width: 800px;}
.col-11 {width: 880px;}
.col-12 {width: 960px;}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}
/********************/

body {
	width: 960px;
	margin: 0 auto;
}


a {
	text-decoration: none;
}
a:link {
	color: #303030 ;
}
a:visited {
	color: #303030 ;
}
a:hover {
	color: #909090;
}
@font-face {
	font-family: myWebFont;
	src: url(../fonts/karlsenThin.otf);
}
div {
	font-family: myWebFont;
	font-weight: 200;
}
footer {
	font-family: myWebFont;
	font-weight: 200;
}
img {
	max-width: 100%;
	max-height: 100%;
}
ul {
	list-style: none;
}
.btmContent {
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 2px solid #fbb040;
}
.btmContent p {
	max-width: 100%;
}

/********* HEAHDER *********/
div#navToggle {
	display: none;
	width: 320px;
	float: left;
	font-size: 28px;
	border: 2px solid #fbb040;
	border-radius: 7px;
	text-align: center;
}
ul#topNav{
	list-style: none;
	float: left;
	padding: 15px;
	height: 160px;
	border-left: 2px solid #fbb040;
}
ul#topNav li {
	padding: 7px;
}
ul#topNav li.activePage {
	border-right: 2px solid #fbb040;
	background-color: #777;
}
.activePage a {
	color: white;
}

#logo img {
	max-height: 100%;
}
header {
	clear: both;
}
div.icon article {	
	display: block;
	float: left;
	background-size: 130px 130px;
    background-repeat: no-repeat;
    background-position: center; 
}
div.icon article img {
	height: 160px;
	width: 160px;
	padding: 15px;
}
div.icon.hover a:hover img {
	opacity: 0;
}
article[data-job="icon"] {
	background-image: url('../img/BT_logo_back.png');
}


/******* FOOTER *********/

footer p {
	font-size: .75em;
	float: right;
	padding-top: 15px;
}
footer {
	border-top: 2px solid #fbb040;
}

/********* Home Page ********/

section.iconHouse {
	width: 400px;
	float: left;
	padding: 15px;
}
section.iconHouse article img {
	padding: 15px;
	width: 150px;
	height: 150px;
}

div.contentWrap {
	padding-top: 30px;
	padding-bottom: 30px;
	/*border-top: 2px solid #fbb040;*/
}
section.iconHouse article a{
	display: block;
	float: left;
	background-size: 120px 120px;
    background-repeat: no-repeat;
    background-position: center; 
}
div.home {
	position: relative;
	overflow: hidden;
	height: 420px;
	}
.home img {
	margin: 0;
	position: absolute;
	width: 960px;
	height: 360px;
}
section.iconHouse article a.homeIcons:hover img {
	opacity: 0;
}
article a[data-job="iconComp"] {
	background-image: url('../img/iconComp_back.png');
}
article a[data-job="iconPen"] {
	background-image: url('../img/iconPen_back.png');
}
article a[data-job="iconPhoto"] {
	background-image: url('../img/iconPhoto_back.png');
}
article a[data-job="iconPaint"] {
	background-image: url('../img/iconPaint_back.png');
}
/************ PHOTO SLIDER ***************/
/*.slider {
  width: 960px; 
  height: 550px;
  overflow: hidden;
}
  .slider > ul {
    /* styled by JS to match the added width and height of all <li>’s */
    /*position: relative;
    -webkit-transition: 0.5s left;
    -moz-transition: 0.5s left;
    -ms-transition: 0.5s left;
    -o-transition: 0.5s left;
 
    list-style: none;
    margin: 0; padding: 0;
  }
    .slider > ul > li {
      float: left;
      width: 960px; 
      height: 550px;
    }*/


/******* Artwork ***************/

div.icon-row {
	width:100%;
}

div.icon-row img {
	display: block;
	float: left;
	width: 80px;
	padding: 10px;
}
.vertPaint li {
	height: 600px;
}
/************* RESUME **********/
div.icon-row div.artDivide {
	width: 880px;
	height: 40px;
	border-bottom: 2px solid #fbb040;
	float: right;
}
section.jobs article {
	margin: 10px;
	display: block;
	float: left;
	border-radius: 15px;
	border: 2px solid #ccc;
	background-size: 266px 266px;
    background-repeat: no-repeat;
    background-position: center; 
}
section.jobs article img {
	
	padding: 15px;
	
	height: 296px;
	width: 296px;
}

section.jobs.hover article:hover img {
	opacity: 0;
}

article[data-job="rocky"] {
	background-image: url('../img/rmyc_back.png');
}
article[data-job="canyons"] {
	background-image: url('../img/ski-patrol_back.png');
}
article[data-job="canyons2"] {
	background-image: url('../img/canyons_back.png');
}
article[data-job="miller"] {
	background-image: url('../img/fire_back.png');
}
article[data-job="fitz"] {
	background-image: url('../img/painting_back.png');
}
article[data-job="croix"] {
	background-image: url('../img/sava-tree_back.png');
}


div.employ {
	width: 465px;
	float: left;
	padding: 15px;
}
div.employ h5 {
	line-height: 2.3em;
	border-top: 1px solid white;
	margin-top: 5px
}
div.jobDesc {
	border: 2px solid #ccc;
	margin: 10px 10px;
	border-radius: 15px;
	background-color: #666;
	color: white;
	display: none;
}


/*********** DESIGN ************/

section.design article img {
	border: 2px solid #ccc;
	float: left;
	padding: 15px;
	border-radius: 15px;
}
article #dragon {
	background-color: #666;
}


/*ul {
	list-style: none;
}*/



/*.contentWrap {
	border-top: 2px solid #fbb040;
}*/
.resume li img {
	border: 2px solid #ccc;
	border-radius: 20px;
	display: center;
}

/************* About Me *****************/

div.about {
	position: relative;
	overflow: hidden;
	height: 560px;
	padding-top: 10px;
	padding-bottom: 10px;
	}
.about img {
	margin: 0;
	position: absolute;
	width: 960px;
	height: 540px;
}
/************** Tablet ***************/
@media only screen and (max-width: 960px) {
	body {
		width: 640px;
	}
	

	div.slider {
		position: relative;
		padding-top: 10px;
		padding-bottom: 10px;
		overflow: hidden;
		height: 260px;
	}
	.slider img {
		margin: 0;
		position: absolute;
		width: 640px;
		height: 240px;
	}
	section.iconHouse article.iconMobile img{
		width: 125px;
		height: 125px;
	}
	div.about {
	height: 380px;
	}
	.about img {
		width: 640px;
		height: 360px;
	}
	section.iconHouse article a{
		background-size: 95px 95px;
	}
	.landscape li{
		width: 640px;
	}
	div .artDivide {
		width: 560px;
	}
	.btmContent div {
		width: 640px;
	}
	#mountains li {
		width: 640px;
	}
	div.icon-row div.artDivide {
		width: 560px;
	}
	ul#topNav {
		display: block;
	}
		div.employ {
	width: 290px;
	}

	/*.artDivide p {
		width: 640px;
	}*/
}

/************** Mobile ***************/
@media only screen and (max-width: 640px) {
	body {
		width: 320px;
	}
	div.contentWrap.slider {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	div.slider {
		height: 140px;
	}
	.slider img {
		width: 320px;
		height: 120px;
		margin:10px auto;
	}
	div.about {
	height: 360px;
	}
	.about img {
		width: 320px;
		height: 240px;
	}
	.landscape li{
		width: 320px;
	}
	.btmContent div {
		max-width: 100%;
	}
	#mountains li {
		width: 320px;
	}
	div.icon-row div.artDivide {
		width:240px;
	}

	div#navToggle {
		display: block;
	}

	img#logo {
		width: 320px;
	}

	ul#topNav {
		display: none;
		width: 320px;
		border-left: none;
		border-bottom: 2px solid #333;
		border-top: 2px solid white;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		background-color: #777;
	}
	ul#topNav a {
		color: white;
	}
	section.iconHouse article a{
		background-size: 70px 70px;
	}
	section.iconHouse article.iconMobile img{
		width: 100px;
		height: 100px;
	}
	section.iconHouse {
		margin: 0 auto;
		max-width: 100%;
	}
	section.iconHouse article.iconMobile {
		padding: 0 45px;
	}
	section.iconHouse article.iconMobile a {
		display: block;
		float: left;
	}
	div.icon article img {
	height: 320px;
	width: 320px;
	padding: 15px;
	}
	div.icon article {	
	background-size: 290px 290px;
	}
	/*
	section.jobs article img {
	border: 2px solid #ccc;
	padding: 15px;
	border-radius: 15px;
	height: 296px;
	width: px;
	}*/
	div.employ {
	width: 290px;
	}
	/*.artDivide p {
		width: 320px;
	}*/
}
/*********** End Mobile **************/


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */